@use "abstracts" as *;
@use "../vendor/include-media" as *;

/* Archive partial for paises.
------------------------------------------------------------------------------ */

.pais {
    background-color: $grey_darker;
    border-radius: $border-radius;

    
    // Contenedor imagen destacada.
    &__image {
        position: relative;

        // Imagen destacada.
        &__img {
            border-top-left-radius: $border-radius;
            border-top-right-radius: $border-radius;
        }

        // Dark overlay featured image.
        &__gradient {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 10%;
            background-image: linear-gradient(to bottom, rgba(15, 14, 14, 0) 2%, $grey_darker 99%);
        }
    }


    // Header - Picture + Taxonomy (País) + Title
    &__header {
        position: relative;
        padding-bottom: 55px; // "white" space for País + Title

        &__info {
            position: absolute;
            width: 100%;
            bottom: 0;
            left: 0;
            right: 0;
        }
    }

    &__title {
        font-size: 26px;
        font-weight: 600;
        text-align: center;
        margin: .4ch 0;
        color: $primary-color;

    }

    // Main content on the  Viajes Loop
    &__main {
        padding: 3px 15px;
        display: grid;
        grid-template-columns: 1fr;
    }

    &__content {
        font-size: 15px;
        // border-top: 1px solid $grey_10;
        // border-bottom: 1px solid $grey_10;
        // min-height: 132px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        padding: 2% 0;
    }

    &__intralinks {
        list-style: none;
        background-color: #141212;
        border-radius: $border-radius;
        padding: .3rem .55rem;
    }

    &__intralink {
        padding: 8px 0;
        border-bottom: 1px solid $grey-medium;
        
        &:last-of-type {
            border: none;
        }
        
        &__link {
            display: flex;
            align-items: center;
            color: $grey-light;
            text-decoration: none;
        }

        &__icon {
            width: 30px;
            height: 26px;
        }
    }


    // Foofer at the Viajesloop
    &__footer {
        padding: 16px 0;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }

    &__read-more-link.wp-block-button__link {
        font-size: 15px;
        line-height: 1;
        padding: .65ch 1.2ch;
        margin: 0 auto;
    }
}