@use "abstracts" as *;
@use "../vendor/include-media" as *;

/**
 * Taxonomy Destinos archive page
------------------------------------------------------------------------------ */

/* Custom tabs on Destinos taxonomy pages
------------------------------------------------------------------------------ */
.entry-content {

    .full-width-content & {

        // Make sure custom tabs content are full width
        .rv-tabs {

            &.alignfull {
                padding: 0 !important;
            }
        }

        // Tabs keep the alignconent width.
        .tabs {
            max-width: $content-width;
			margin-left: auto;
			margin-right: auto;
        }
    }
}

// Intro block. Info + map. 
.destino {

    .intro {
        padding: $margin_4x 0 1px;
        
        &__title {
            margin: 0 0 1.1rem 0;
            color: $primary-color;
            text-transform: uppercase;
            font-size: 26px;
            font-weight: 500;
            margin-bottom: 0.5rem;
        }

        &__subtitle {
            margin: 10px 0 $block-margin;
        }

        &__columns {
            
            .intro__column {
                flex-basis: 66%;
    
                &:last-of-type {
                    flex-basis: 33%;
                }
            }
        }
    }
}

/* Tabs wrap
-------------------------------------------- */
.rv-tabs__wrap {
    display: flex;
    flex-flow: column nowrap;
}

/* Tabs
-------------------------------------------- */
.tabs {
    width: 100%;
    max-width: $content-width;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    // Fixed tabs to top (no floating) from 800px.
    @include media('>=800px') {
        flex-flow: row nowrap;
    }
    
    .archive .rv-tabs & { 
        padding: 0;
    }

    .tab {
        padding: 0;
        margin: 10px;
        flex-grow: 1;

        // let the tabs grow on small screens
        @include media('>=small') {
            max-width: max-content;
        }
        
        // No floating tabs from 800px
        @include media('>=800px'){
            margin: 0 10px 0 0;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
            
            &:last-of-type {
                margin-right: 0;
            }
        }
        
        &__link {
            border-radius: $border-radius;
            padding: .5em 1em;
            display: block;
            background-color: #4e4c4c;
            text-decoration: none;
            
            // No floating tabs from 800px
            @include media('>=800px'){
                padding: .5em;
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
            }

            &.active {
                position: relative;
                z-index: 2;
            }
            
            &:hover,
            &:focus, 
            &.active {
                background-color: $grey-base;

                .tab__icon svg {
                    fill: $primary-color;
                }

                .tab__title {
                    color: $primary-color;
                }
            }
        }
        
        &__link__wrap {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: space-around;
            text-align: center;
            min-height: 38px;
        }
        
        &__title {
            font-size: 14px;
            font-weight: 500;
            line-height: 1.32;
            color: $white;
            text-transform: uppercase;
            @include transition();
        }

        &__icon {
            display: none;

            @include media('>=1024px') {

                display: block;
                width: 34px;
                height: 34px;
            
                svg {
                    fill: $white;
                }
            }
            
            @include media('>=950px') {

                width: 40px;
                height: 40px;
            }
        }
    }
}

/* Tabgroup - tabs content
-------------------------------------------- */
.tabgroup {
    background-color: $grey-base;
    box-shadow:0 -3px 10px rgba(0,0,0,.3);
    position: relative;
    padding: $wrap_edge;

    .tabcontent {
        max-width: $content-width;
        margin: 0 auto;
    }
    
    .destino__title {
        margin: 10px auto $margin_2x;
    }
}

/* Main filled centered destino__icon   
-------------------------------------------- */
.destino__icon {
    max-width: 85px;
    margin: 0 auto;
}

/* Tabcontent - Información práctica del país
-------------------------------------------- */
.destino {
    
    .tabcontent {

        .info {
            padding: $margin_2x $wrap_edge $wrap_edge;
            border: 2px solid $primary-color;
            border-radius: $border-radius;
            margin-top: -45px;

            &__row {
                display: flex;
                flex-flow: column nowrap;
                padding: 15px 5px;
                
                @include media('>=small') {
                    flex-flow: row nowrap;
                    margin-bottom: $block-margin;
                }
            }

            &__image {
                
                @include media('>=small') {
                    flex: 0 0 95px;
                }
            }

            &__title {
                margin: 10px 0 $base-margin;
            }
        }
    }
}


/* Tabcontent - Lugares de interés
-------------------------------------------- */
.destino {
    
    .tabcontent {

        .lugares {
            display: grid;
            grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
            gap: 18px;
        }

        .lugar{

            &__title{
                font-size: 21px;
                margin: 0 0 8px 0;
                border-bottom: 1px solid $primary-color;
                padding: 0 0 15px 0;
            }

            &__content{
                font-size: 16px;
            }
        }
    }
}

/* Tabcontent - Lugares de interés
-------------------------------------------- */
.destino {
    
    .tabcontent {

        .parques__with-image {

            // fullwidth parques featured image
            .parques__image {
                margin: 0 calc(50% - 50vw);
                max-width: 100vw;
                width: 100vw;
                height: calc(250px + 15vh);
                position: relative;
                margin-top: -$wrap_edge;

                img {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    object-fit: cover;
                }
            }

            // place the icon over the image (only if there is an image)
            .destino__icon {
                margin-top: -46px;
                position: relative;
                z-index: 4;
            }
        }

        .parques {

            // Add some extra space to the title
            .destino__title {
                margin-bottom: $margin_4x;
            }
        }

        .parque {
            text-align: center;
        }
    }
}

/* Some style for the block 'Reasons Why'.
-------------------------------------------- */
.destino {

    .reasons{
        padding-bottom: 100px;

        .embed-container {
            display: flex;
            justify-content: center;
        }

        &__list {
            width: max-content;
            max-width: 560px;
            margin: $margin_2x auto;
            font-size: 18px;

            @include media('<=600px') {
                max-width: 100%;
            }
        }
    }
}

/* Gallery block
-------------------------------------------- */
.destino {

    .gallery{
        background-color: $grey-darker;
        margin: 0 calc(50% - 50vw);
        max-width: 100vw;
        width: 100vw;
        padding: $margin_2x 1.375rem;
    }
}

/* Contact block
-------------------------------------------- */
.destino {

    .contact {
        background-color: $primary-color;
        margin: 0 calc(50% - 50vw);
        max-width: 100vw;
        width: 100vw;
        padding: $margin_2x 1.375rem;

        &__wrap {
            width: 100%;
            max-width: 768px;
            margin: $block-margin auto;
        }

    }

}